.intro{
  font-family: 'IBM Plex Serif', serif;
}

.container-intro {
padding-top: 220px;
  }

.intro{
  background: linear-gradient(90deg, rgba(0,0,0,0.5354516806722689) 50%, rgba(213,196,36,0.4290091036414566) 100%), 
  url('images/back/squadra.jpg') no-repeat center fixed ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.input-group {
  max-width: 500px;
}

.banner{

  padding: 190px 0 100px;

  background: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)), url('images/foto/carosello 1.jpg');

  background-size: cover;

  background-position: center;

  color:#ffff;
}

.dropdown-menu .info-D {
  font-weight: bold;
}

.button-middle {
  color: goldenrod;
}


.card-text {
  font-weight: bold;
  font-family: Copperplate;
  text-transform: uppercase;
}

.number{
  font-size: large;
  font-weight: bold;
  color: goldenrod;
}

.rooster {
  padding: 60px 0;
}

.rooster .card{
  margin-bottom: 20px;
}

.btn-titol {
  font-weight: bold;
}