.banner{

  padding: 100px 0;

  background: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)), url('images/foto/carosello 1.jpg');

  background-size: cover;

  background-position: center;

  color:#ffff;

}

.dropdown-menu .info-D {
  font-weight: bold;
}

.button-middle {
  color: goldenrod;
}

.card-text {
  font-weight: bold;
  font-family: Copperplate;
  text-transform: uppercase;
}

.number{
  font-size: large;
  font-weight: bold;
  color: goldenrod;
}

.rooster {
  padding: 60px 0;
}

.rooster .card{
  margin-bottom: 20px;
}

.rooster .card-body {
  height: 160px;
}
